@model rkbc.web.viewmodels.AppUserViewModel
@using rkbc.web.viewmodels
@using rkbc.core.models
@using rkbc.web.helpers
<style>
    p{clear:both;}
    .row div{padding:10px 0;}
    
</style>
@{
    ViewData["Title"] = "Details";
}
    <div class="content">
        <div class="container">
            <h1>Details</h1>

            <div>
                <h4>If you want to </h4>
                <hr />
                <div class="row">
                    <p>
                        <div class="span2">
                            @Html.DisplayNameFor(model => model.Email)
                        </div>
                        <div class="span10">
                            @Html.DisplayFor(model => model.Email)
                        </div>
                    </p>

                    <p>
                        <div class="span2">
                            @Html.DisplayNameFor(model => model.firstName)
                        </div>
                        <div class="span10">
                            @Html.DisplayFor(model => model.firstName)
                        </div>
                    </p>
                    <p>
                        <div class="span2">
                            @Html.DisplayNameFor(model => model.lastName)
                        </div>
                        <div class="span10">
                            @(Model.lastName ?? " ")
                        </div>
                    </p>

                    <p>
                        <div class="span2">
                            @Html.DisplayNameFor(model => model.accountType)
                        </div>
                        <div class="span10">
                            @(Model.accountType > 0 ? EnumHelper.GetDisplayName<AccountType>((AccountType)Model.accountType) : "")
                        </div>
                    </p>
                    <p>
                        <div class="span2">

                            @Html.DisplayNameFor(model => model.countryCode)
                        </div>
                        <div class="span10">
                            @(Model.countryCode > 0 ? EnumHelper.GetDisplayName<CountryEnum>((CountryEnum)Model.countryCode) : "")
                        </div>
                    </p>
                    <p>
                        <div class="span2">
                            @Html.DisplayNameFor(model => model.gender)
                        </div>
                        <div class="span10">
                            @(Model.gender != null ? EnumHelper.GetDisplayName<GenderEnum>((GenderEnum)Model.gender) : "")
                        </div>
                    </p>
                    <p>
                        <div class="span2">
                            @Html.DisplayNameFor(model => model.department)
                        </div>
                        <div class="span10">
                            @(Model.department != null ? EnumHelper.GetDisplayName<GroupEnum>((GroupEnum)Model.department) : "")
                        </div>
                    </p>
                    <p>
                        <div class="span2">
                            @Html.DisplayNameFor(model => model.DOB)
                        </div>
                        <div class="span10">
                            @Html.DisplayFor(model => model.DOB)
                        </div>
                    </p>
                    <p>
                        <div class="span2">
                            @Html.DisplayNameFor(model => model.phoneNumber)
                        </div>
                        <div class="span10">
                            @Html.DisplayFor(model => model.phoneNumber)
                        </div>
                    </p>
                    <p>
                        <div class="span2">
                            @Html.DisplayNameFor(model => model.address1)
                        </div>
                        <div class="span10">
                            @Html.DisplayFor(model => model.address1)
                        </div>
                </p>
                
            </div>
            </div>
            <div>
                @if (ViewBag.FormViewMode == FormViewMode.Delete)
                {
                    <a class="btn" asp-controller="Administration" asp-action="DeleteConfirmed" asp-route-id="@Model.id">Delete</a>
                }else{
                    <a class="btn" asp-controller="Administration" asp-action="Edit" asp-route-id="@Model.id">Edit</a>
                }
                        
                    <a class="btn" asp-controller="Administration" asp-action="Index">Back to List</a>
</div>
    </div>
</div>
