@model rkbc.web.viewmodels.LoginViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Log in"];
}
<div class="container">
    <div class="content" style="margin:10px;">
        <h1>@ViewData["Title"]</h1>
        <div class="row">
            <div class="col-md-4">
                <section>
                    <form id="account" method="post" asp-action="Login" asp-rout-retute="@ViewData["ReturnUrl"]">
                        <h4>@Localizer["Use your account to log in or"] <a asp-area="Identity" asp-page="/Account/Register">@Localizer["Register"].</a></h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btnUpdate">Log in</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <!--<a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>-->
                            </p>
                            <p>
                                <!--<a asp-page="./Register" asp-route-returnUrl="@ViewData["ReturnUrl"]">Register as a new user</a>-->
                            </p>
                        </div>
                    </form>
                </section>
            </div>
            <div class="col-md-6 col-md-offset-2">

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


