@model rkbc.web.viewmodels.PagedResultBase
@{
    var urlTemplate = Url.Action() + "?page={0}";
    var request = ViewContext.HttpContext.Request;
    foreach (var key in request.Query.Keys)
    {
        if (key == "page")
        {
            continue;
        }

        urlTemplate += "&" + key + "=" + request.Query[key];
    }

    var startIndex = Math.Max(Model.CurrentPage - 5, 1);
    var finishIndex = Math.Min(Model.CurrentPage + 5, Model.PageCount);
}

<div class="row">
    <div class="span2">
        Items @Model.FirstRowOnPage to @Model.LastRowOnPage of @Model.RowCount total
    </div>
    <div class="span5 pageDiv">
        @if (Model.PageCount > 1)
        {
        <ul style="float:right;">
            <li><a class="paging" href="@urlTemplate.Replace("{0}", "1")">&laquo;</a></li>
            @for (var i = startIndex; i <= finishIndex; i++)
                {
            if (i == Model.CurrentPage)
                    {
            <li><span class="paging currentPage">@i</span></li>
                    }
                    else
                    {
            <li><a class="paging" href="@urlTemplate.Replace("{0}", i.ToString())">@i</a></li>
                    }
                }
            <li><a href="@urlTemplate.Replace("{0}", Model.PageCount.ToString())" class="paging">&raquo;</a></li>
        </ul>
        }
    </div>
</div>