@model rkbc.core.models.HomeItem

    <tr data-panel-row="true" data-panel-row-id="@Model.id">
        <td>
            @Html.HiddenFor(q => q.id)
            @Html.HiddenFor(q => q.sectionId)
            <p class="data-panel-error">@Html.ValidationMessageFor(q => q.content)</p>
            @Html.TextBoxFor(q => q.content)
        </td>
        <td>
            <button class="imts-form-action" data-imts-form-action="true" data-panel-click="delete">Delete</button>
        </td>
     </tr>
