@using rkbc.core.models
@using rkbc.config.models
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@using rkbc.web.constant
@inject SignInManager<ApplicationUser> signInManager
@inject IOptions<RkbcConfig> rkbcSetting
@inject IHttpContextAccessor httpContextAccessor
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en">
<!--<![endif]-->
<head>
    <!-- Basic Meta Tags -->
    <meta charset="utf-8">
    <title>RKBC(랄리 한인 교회)</title>
    <meta name="description" content="Raleigh Korean Church, Raleigh Korean Baptist Church, 랄리 한인 교회, 한인교회, 미션, church mission trip">
    <meta name="keywords" content="Raleigh Korean Church, Raleigh Korean Baptist Church, 랄리 한인 교회, 한인교회, 미션, church mission trip">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if (gte IE 9)|!(IE)]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <![endif]-->
    <!-- Favicon -->
    <link href="~/img/favicon.png" rel="icon" type="image/png" asp-append-version="true" />

    <!-- Styles -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" asp-append-version="true" />
    <link href="~/css/styles.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/css/bootstrap-override.css" rel="stylesheet" asp-append-version="true" />

    <!-- Font Avesome Styles -->
    <link href="~/css/font-awesome/font-awesome.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Noto+Sans+KR&display=swap&subset=korean" rel="stylesheet" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.7/jquery.jgrowl.min.css" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" />

    <!-- JavaScripts -->
    <script type="text/javascript" src="~/js/jquery-3.4.1.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js" asp-append-version="true"></script>

    <script type="text/javascript" defer src="~/js/jquery.flexslider.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.js" asp-append-version="true"></script>

    <script type="text/javascript" src="~/js/knockout.validation.js" asp-append-version="true"></script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.7/jquery.jgrowl.min.js" asp-append-version="true"></script>
    <script src="~/js/knockout.rkbc.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <style>
        body {
            font-family: 'Noto Sans KR', sans-serif !important;
            font-family: 'Nanum Gothic', sans-serif;
        }
    </style>

    @RenderSection("Scripts", required: false)
    @{
        var urlForMenu = @Url.Action();
    }
    <script type="text/javascript">
       $(document).ready(function () {
            var actionkey = window.location.pathname;
            var isRoot = !actionkey.match(/[a-z]/) && !actionkey.match(/[A-Z]/);
            if (isRoot) actionkey = "Home/Index";
            // actionkey = window.location.pathname.slice(1);
            var activeMenu = "Contact";
            if (actionkey.includes("Home")) {
                activeMenu = "Home";
            } else if (actionkey.includes("Pastor")) {
                activeMenu = "Paster";
            } else if (actionkey.includes("Mission")) {
                activeMenu = "Mission";
            } else if (actionkey.includes("School")) {
                activeMenu = "School";
            } else if(actionkey.includes("Blog")) {
                activeMenu = "Blog";
            }
            var elements = $(".active");
            elements.removeClass("active");
            $("#" + activeMenu).addClass("active");
            //if (!window.location.hash && window.sessionStorage[actionkey]) {
            //    var menu = "#" +
            //        $("#").tabs("select", window.sessionStorage[actionkey]);
            //}


        siteFunction()
        //TempData messages
        @Html.jsTempDataMessage(false)
        });
    </script>
</head>
<body>
    <!-- Header -->
    <header id="header">
        <div class="container">
            <div class="row t-container">

                <!-- Logo -->
                <div class="span3">
                    <div class="logo">
                        <a asp-controller="Home" asp-action="Index"><img src="~/img/rkbc/logo-header.png" alt=""></a>

                    </div>
                </div>

                <div class="span9">
                    <div class="row space20"></div>

                    <nav id="nav" role="navigation">
                        <a href="#nav" title="Show navigation">Show navigation</a>
                        <a href="#" title="Hide navigation">Hide navigation</a>

                        <ul class="clearfix">
                            @if (User.Identity.IsAuthenticated && ViewBag.UserSettings.isAdmin)
                            {
                            <li id="Home" class="active">
                                <a asp-controller="Home" asp-action="Index"><span>Home</span></a>
                                <ul>
                                    <!--Test Id = 3 or 9-->
                                    <li id="HomeEdit"><a asp-controller="Home" asp-action="Edit" asp-route-id="@rkbcSetting.Value.HomePageId">Edit</a></li>
                                    <li id="HomeGallery"><a asp-controller="Attachment" asp-action="Index">Gallery</a></li>
                                </ul>
                            </li>
                            <li id="Pastor">
                                <a asp-controller="Pastor" asp-action="Index" title=""><span>목회자 칼럼</span></a>
                                <ul>
                                    <li id="PastorEdit"><a asp-controller="Pastor" asp-action="Edit">Edit</a></li>
                                </ul>
                            </li>
                            <li id="Mission">
                                <a asp-controller="Blog" asp-action="MissionIndex" asp-route-country="@(CountryEnum.Dominican_Republic)" title="">선교</a>

                            </li>
                            <li id="School">
                                <a asp-controller="School" asp-action="Index" title="">한국학교</a>
                            </li>
                            <li id="Blog">
                                <a asp-controller="Blog" asp-action="AllIndex"><span>블라그</span></a>
                                <ul>
                                    <li><a asp-controller="Blog" asp-action="Index" asp-route-userId="@ViewBag.UserSettings.userId">My Blog</a></li>
                                </ul>
                            </li>
                            <li id="Contact">
                                <a asp-controller="Contact" asp-action="Index" title=""><span>Contact</span></a>
                                <ul>
                                    <li id="ContactAdministration"><a asp-controller="Administration" asp-action="Index">Administration</a></li>
                                    <li id="ContactRoles"><a asp-controller="Roles" asp-action="Index">Roles</a></li>
                                    <partial name="_LoginPartial" />
                                </ul>
                            </li>
                            }
                            else
                            {
                            <li id="Home" class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li id="Pastor"><a asp-controller="Pastor" asp-action="Index">목회자 칼럼</a></li>
                            <li id="Mission"><a asp-controller="Blog" asp-action="MissionIndex" asp-route-country="@(CountryEnum.Dominican_Republic)" title="">선교</a></li>
                            <li id="School"><a asp-controller="School" asp-action="Index">한국학교</a></li>
                            <li id="Blog">

                                @if (User.Identity.IsAuthenticated)
                                    {
                                <a asp-controller="Blog" asp-action="AllIndex"><span>블라그</span></a>
                                <ul>
                                    <li><a asp-controller="Blog" asp-action="Index" asp-route-id="@ViewBag.UserSettings.userId">My Blogs</a></li>
                                </ul>
                                    }else{
                                <a asp-controller="Blog" asp-action="AllIndex">블라그</a>
                                    }
                            </li>
                            @if (User.Identity.IsAuthenticated)
                                {
                            <li id="content">
                                <a asp-controller="Contact" asp-action="Index"><span>Contact</span></a>
                                <ul>
                                    <partial name="_LoginPartial" />
                                </ul>
                            </li>
                                }
                                else
                                {
                            <li id="Contact"><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                            <partial name="_LoginPartial" />
                                }
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <div class="">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <div class="inner">
                <h3>Get In Touch</h3>
                <div class="row space30"></div>
                <ul class="actions">
                    <li><i class="icon-phone"></i>+01 919 389 7482</li>
                    <li><i class="icon-envelope"></i><a href="mailto:eunyoung2u@hotmail.com">eunyoung2u@hotmail.com</a></li>
                    <li><i class="icon-home"></i><a href="http://rkbc.us">www.rkbc.us</a></li>
                    <li><i class="icon-facebook"></i><a href="https://www.facebook.com/pg/RaleighKoreanChurch/">Facebook</a></li>
                </ul>
            </div>


            <div class="row space50"></div>
            <div class="row">
                <div class="span6">
                    <div class="logo-footer">
                        <a href="http://krbc.us">Raleigh Korean Baptist Church</a>
                    </div>
                </div>
                <div class="span6 right">
                    &copy; 2020. All rights reserved.
                </div>
            </div>

        </div>
    </footer>
    <!-- Footer End -->
    <img id="loading" src="~/css/ajax-loader.gif"/>
</body>
</html>
