@model IEnumerable<Post>
@using rkbc.web.viewcomponents;
@using rkbc.core.models;

@foreach (var post in Model)
{
    <!-- Blog -->
    <div class="row">
        <div class="span1">
            @if (post.postType == (int)BlogPostType.Gallery)
            {
                <div class="blog-icon">
                    <i class="icon-camera"></i><br>
                    <h5>Gallery Post</h5>
                </div>
            }
            else if (post.postType == (int)BlogPostType.Video)
            {
                <div class="blog-icon">
                    <i class="icon-film"></i><br>
                    <h5>Video Post</h5>
                </div>
            }
            else
            {
                <div class="blog-icon">
                    <i class="icon-quote-right"></i><br>
                    <h5>Single Post</h5>
                </div>
            }
        </div>
        <div class="span8">
            @if (post.postType == (int)BlogPostType.Gallery)
            {
            @*<a href="@post.GetLink()"><img src="@Url.Action("ImageView", "Asset", new {type="blog", fileName=post.imageFileName})" /></a>*@
            <a href="@post.GetLink()"><img src="@post.getImageLink()" /></a>
            },

            <div class="space20">
            </div>
            @if (post.postType == (int)BlogPostType.Video)
            {
            @Html.Raw(post.getEmbededVideo());
            }


            <div class="post-d-info">
                <h3><a href="@post.GetLink()">@post.title</a></h3>
                <div class="blue-dark">
                    <i class="icon-user"></i> By @(post.blog.author.firstName + " " + post.blog.author.lastName)
                    <i class="icon-comment-alt"></i> With <span itemprop="commentCount">@post.comments.Count</span> @(post.comments.Count == 1 ? "comment" : "comments")
                    <time datetime="@post.pubDate.ToString("s")" itemprop="datePublished">Published @post.pubDate.ToString("MMM d, yyyy")</time>
                    @if (ViewBag.UserSettings.isAdmin || ViewBag.UserSettings.userId == post.blog.authorId)
                    {
                    <a asp-controller="Blog" asp-action="Edit" asp-route-id="@post.id" title="Edit the post">Edit post</a>
                    }
                </div>
                @Html.Raw(post.RenderContent())
            </div>

        </div>
    </div>
    <!-- Blog End -->
}