@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model rkbc.web.viewmodels.HomePageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}
<div class="row space40"></div>
<!-- Content -->
<div class="container">
    <!-- Slider -->
    <div>
        <img src="@Url.Content(Model.bannerUrl)" alt="">
    </div>

</div>  <!-- Slider End -->
<div id="content">
    <div class="container">
        <div class="f-center">
            <h2>@Model.title</h2>
            <div class="head-info">
                @Model.titleContent
            </div>
        </div>
        <div class="f-hr"></div>
        <div class="row space40"></div>
        <div class="row">
            <div class="span12">
                <div class="row">
                    <!-- Service Container -->
                    <div class="span4">
                        <!-- Service Icon -->
                        <div class="ic-1"><i class="icon-lightbulb"></i></div>
                        <!-- Service Title -->
                        <div class="title-1"><h4>@Model.churchAnnounceTitle</h4></div>
                        <!-- Service Content -->
                        <ul class="text-1" style="padding-left:30px; list-style:none">
                            @foreach (var item in Model.churchAnnouncements)
                            {
                                <li>@item.content</li>
                            }
                        </ul>
                    </div>
                    <!-- Service Container End -->
                    <div class="span4">
                        <div class="ic-1"><i class="icon-comment"></i></div>
                        <div class="title-1"><h4>@Model.memberAnnounceTitle</h4></div>
                        <ul class="text-1" style="padding-left:30px">
                            @foreach (var item in Model.memberAnnouncements)
                            {
                                <li>@item.content</li>
                            }
                        </ul>
                    </div>
                    <div class="span4">
                        <div class="ic-1"><i class="icon-eye-open"></i></div>
                        <div class="title-1"><h4>@Model.schoolAnnounceTitle</h4></div>
                        <ul class="text-1" style="padding-left:30px">
                            @foreach (var item in Model.schoolAnnouncements)
                            {
                                <li>@item.content</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="space40"></div>
            <!-- Typography Row -->
            <div class="row t-row">
                <!-- Line -->
                <div class="span12"><hr></div>
                <div class="span9">
                    <h2 style="font-weight:500">@Localizer["Welcome to Our Worship Service"]</h2>
                </div>
                <div class="span3">
                    <!-- Button -->
                    <div class="btn btn-blue f-right" style="padding-right:20px;padding-left:20px;">
                        <!-- Title -->
                        <h4 style="color:white;"><i class="icon-signin hidden-tablet"></i> <a style="color:white;" asp-controller="Pastor" asp-action="Index">@Localizer["Pastor Column"]</a></h4>
</div>
                </div>
                <div class="space30 visible-phone"></div>
                <!-- Line -->
                <div class="span12"><hr></div>
            </div>
            <!-- Typography Row End-->
            <div class="span8">
                <iframe style="width:100%;height:250px;" src="@Url.Content(Model.embedVideoUrl)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="span4">
                <div class="ic-1"></div>
                <div class="title-1"><h4>@Localizer["Service Times"]:</h4></div>
                <!-- List -->
                <div class="text-1">
                    <ul class="list-b">
                        <!-- List Items -->
                        <li><i class="icon-ok"></i> @Localizer["Traditional Service"]: 9:00 AM</li>
                        <li><i class="icon-ok"></i> @Localizer["Contemporary Service"]: 11:00 AM</li>
                        <li><i class="icon-ok"></i> @Localizer["Daliy Early Morning Prayer Meeting"]: 6:00 AM (@Localizer["Monday-Friday"]), 7:00 AM (@Localizer["Saturday"])</li>
                        <li><i class="icon-ok"></i> @Localizer["Wendesday Service"]: 7:00 PM</li>
                        <li><i class="icon-ok"></i> @Localizer["Yourth Service"]: @Localizer["Friday"], 6:00 PM </li>
                    </ul>
                </div>
                <!-- List End -->
            </div>

        </div>
        <!--Korean School-->
        <div class="row">
            <div class="space40"></div>
            <h3>@Localizer["Raleigh Vision Korean School"]</h3>

                        <div class="span8">
                            <div class="title-1"><h4>@Localizer["Our Service"]:</h4></div>
                            <!-- List -->
                            <div class="text-1">
                                <ul class="list-b">
                                    <!-- List Items -->
                                    <li><i class="icon-ok"></i> @Localizer["Spring Semester"]: @Localizer["Last Saturday In January"]</li>

                                    <li><i class="icon-ok"></i> @Localizer["Fall Semester"]: @Localizer["Last Saturday In August"]</li>

                                    <li><i class="icon-ok"></i> @Localizer["Time"]: @Localizer["Saturday"] 10:00am-1:00pm</li>

                                    <li><i class="icon-ok"></i> @Localizer["Tuition"]: 1 Student:$50.00, 2 Students:$80.00, 3 Students:$100.00</li>

                                    <li><i class="icon-ok"></i> @Localizer["English as a  second language class"]</li>

                                    <li><i class="icon-ok"></i> <a style="color:Highlight" href="document//koreanschoolapplication.pdf">@Localizer["Admission Application"]</a></li>
                                </ul>
                            </div>
                            <!-- List End -->
                        </div>
                        <div class="span4">
                            <h3>@Localizer["Address"]</h3>
                            9130 Baileywick Rd<br>
                            Raleigh, NC 27615<br>
                            United States<br>
                            <br>
                            <i class="icon-phone"></i> (919) 389-7551<br>
                            <i class="icon-envelope"></i> eunyoung2u@hotmail.com<br>


                            <div class="row space40"></div>


                        </div>
                        <div class="space20"></div>
        </div>

        <!-- Our Clients -->
        <div class="row">
            <div class="span12">
                <h3>@Localizer["Our Church"]</h3>

            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('.slider2').flexslider({
                    animation: "slide",
                    slideshow: false,
                    animationLoop: false
                });
            });
        </script>
        <div id="our-clients" class="slider2 flexslider">
            <ul class="slides">

                @for (int j = 0; j <= Model.numLi; j++)
                {
                    <li>
                        <div class="row">
                            @for (int i = 0; i < 3; i++)
                            {
                                <div class="span4">
                                    <div class="">
                                        @if ((j * 6 + i) < Model.attachments.Count)
                                        {
                                            <a href="@Url.Content(Model.attachments[j *6 + i].imageUrl)" rel="external">
                                                <img src="@Url.Content(Model.attachments[j *6 + i].imageUrl)" alt="" style="margin-bottom:10px;">
                                            </a>
                                        }




                                    </div>
                                </div>
                            }
                        </div>
                        <div class="row">
                            @for (int i = 3; i < 6; i++)
                            {
                                <div class="span4">
                                    <div class="">

                                        @if ((j * 6 + i) < Model.attachments.Count)
                                        {
                                            <a href="@Url.Content(Model.attachments[j *6 + i].imageUrl)" rel="external">
                                                <img src="@Url.Content(Model.attachments[j *6 + i].imageUrl)" alt="" style="margin-bottom:10px;">
                                            </a>
                                        }

                                    </div>
                                </div>
                            }
                        </div>



                    </li>
                }




            </ul>
        </div>
        <!-- Our Clients End -->

        <div class="space50"></div>

    </div>
</div>
<!-- Content End -->